@charset "UTF-8";
@use "../global/" as *;
@use "../common/component" as *;

/* --------------------------------
* hero
* -------------------------------- */
.hero {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $black;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($color: $black, $alpha: 0.7);
    z-index: 2;
  }

  &__logo {
    position: relative;
    width: responsiveClamp(600, 936, 768, 1024);
    aspect-ratio: 117/55;
    z-index: 3;
  }

  &__video {
    position: absolute;
    inset: 0;
    min-height: 100vh;
    z-index: 1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* --------------------------------
* philosophy
* -------------------------------- */
.philosophy {
  display: grid;
  grid-template-areas:
    "title title"
    "img   content";
  gap: responsiveClamp(64, 72, 1024, 1280) responsiveClamp(64, 160, 1024, 1280);
  align-items: flex-end;
  justify-content: center;
  padding: remCalc(64) 0 remCalc(224);
  background-color: rgba($color: $black, $alpha: 1);

  @include mq(lg) {
    grid-template-areas:
      "title   title"
      "content content";
    grid-template-columns: 1fr;
    background-color: rgba($color: $black, $alpha: 0.9);
  }

  &__scroll {
    position: absolute;
    display: inline-block;
    top: 50vh;
    left: remCalc(48);
    z-index: 4;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 75vh;
      background-color: $white;
      opacity: 0.4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 75vh;
      background-color: $white;
      animation: scroll 2s $ease1 infinite;

      @keyframes scroll {
        0% {
          transform: scale(1, 0);
          transform-origin: 0 0;
        }

        50% {
          transform: scale(1, 1);
          transform-origin: 0 0;
        }

        51% {
          transform: scale(1, 1);
          transform-origin: 0 100%;
        }

        100% {
          transform: scale(1, 0);
          transform-origin: 0 100%;
        }
      }
    }
  }

  &__title {
    grid-area: title;
    justify-self: flex-end;
    @include title;

    @include mq(lg) {
      margin-right: remCalc(40);
    }
  }

  &__img {
    grid-area: img;
    justify-self: flex-end;
    width: 100%;
    max-width: responsiveClamp(400, 440, 1024, 1280);
    aspect-ratio: 55/67;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: remCalc(220) remCalc(220) 0 0;
    }

    @include mq(lg) {
      display: none;
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;

    @include mq(lg) {
      justify-self: center;
    }

    &__copy {
      align-self: flex-start;
      margin-top: remCalc(192);
      font-family: $jp;
      font-size: remCalc(20);
      font-weight: 500;
      line-height: 2.2;
      letter-spacing: 0.2em;
    }

    &__en {
      margin: remCalc(16) 0 remCalc(56);
      font-family: $en;
      font-size: remCalc(11);
      font-weight: 300;
      text-transform: uppercase;
      line-height: 2.2;
    }

    &__text {
      width: responsiveClamp(400, 440, 1024, 1280);
      @include text;
    }
  }
}

/* --------------------------------
* catalog01
* -------------------------------- */
.catalog01 {
  display: grid;
  grid-template-areas:
    "title     title"
    "imgLeft   imgRight";
  gap: remCalc(88) responsiveClamp(80, 176, 1024, 1280);
  padding: remCalc(80) 0 remCalc(120) remCalc(80);
  color: $black;
  background-color: $white;

  &__title {
    grid-area: title;
    justify-self: flex-start;
    @include title;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: remCalc(8);

    &:first-child {
      grid-area: imgLeft;
      justify-self: flex-end;
    }

    &:last-child {
      grid-area: imgRight;
      justify-self: flex-start;
      margin-top: remCalc(260);
    }

    &__img {
      width: 100%;
      max-width: remCalc(392);
      aspect-ratio: 7/10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-family: $en;
      font-size: remCalc(13);
      font-weight: 300;
    }
  }
}

/* --------------------------------
* sdg
* -------------------------------- */
.sdg {
  position: relative;
  display: grid;
  grid-template-areas:
    "title   title   title"
    "imgLeft content imgRight";
  grid-template-columns: 1fr auto 1fr;
  gap: remCalc(176) 0;
  padding: remCalc(80) 0;
  color: $black;
  background-color: $white;
  overflow: hidden;

  @include mq(lg) {
    grid-template-areas:
      "title"
      "content";
    grid-template-columns: 1fr;
  }

  &__title {
    grid-area: title;
    justify-self: flex-start;
    padding-left: remCalc(80);
    @include title;
  }

  &__img {
    position: relative;

    @include mq(lg) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    img {
      position: absolute;
      scale: 1.3;

      @include mq(xl) {
        scale: 1.6;
      }

      @include mq(lg) {
        scale: 1;
        opacity: 0.5;
      }

      @include mq(md) {
        opacity: 0.2;
      }
    }

    &.circleLeft {
      grid-area: imgLeft;

      @include mq(lg) {
        display: none;
      }

      img {
        left: -50%;
      }
    }

    &.circleRight {
      grid-area: imgRight;

      @include mq(lg) {
        grid-area: content;
      }

      img {
        right: -50%;
      }
    }
  }

  &__content {
    position: relative;
    grid-area: content;
    text-align: center;

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $jp;
      font-size: responsiveClamp(11, 14, 375, 1024);
      font-weight: 400;
      line-height: 2.2;

      &__big {
        display: flex;
        flex-direction: column;

        &__jp {
          font-size: remCalc(32);
          font-weight: 700;
          line-height: 1.6;
        }

        &__en {
          font-size: remCalc(11);
          text-align-last: justify;
          letter-spacing: 0.25em;
        }
      }
    }

    &__deco {
      margin-top: remCalc(36);
      font-family: $en;
      font-size: remCalc(11);
      font-weight: 400;
      line-height: 200%;
      opacity: 0.5;
    }
  }
}

/* --------------------------------
* mission
* -------------------------------- */
.mission {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: remCalc(80) remCalc(80) remCalc(240)
    responsiveClamp(20, 160, 375, 1024);
  color: $black;
  background-color: $white;

  @include mq(lg) {
    flex-direction: column;
  }

  &__content {
    &__title {
      @include title;
    }

    &__text {
      margin-top: remCalc(32);
      width: remCalc(416);
      @include text;
    }
  }

  &__sdg {
    display: grid;
    grid-template-areas:
      "nine   nine"
      "twelve eleven";
    grid-template-rows: 1fr 1.5fr;
    gap: 0 responsiveClamp(80, 220, 1024, 1280);

    &__content {
      display: grid;
      grid-template-areas:
        "number title"
        "img    img";
      gap: remCalc(20);
      align-items: flex-end;
      justify-content: flex-start;

      &__number {
        grid-area: number;
        font-family: $en;
        font-size: remCalc(96);
        font-weight: 200;
        line-height: 1;
      }

      &__title {
        grid-area: title;
        margin-bottom: remCalc(5);
        font-family: $jp;
        font-size: remCalc(14);
        font-weight: 500;
        line-height: 1.8;
      }

      &__img {
        grid-area: img;
        justify-self: center;
      }

      &.nine {
        grid-area: nine;
        justify-self: center;
      }

      &.eleven {
        grid-area: eleven;
        align-self: center;
      }

      &.twelve {
        grid-area: twelve;
        align-self: flex-end;
      }
    }
  }
}

/* --------------------------------
* process
* -------------------------------- */
.process {
  width: 100%;
  height: 100vh;
  padding: remCalc(200) remCalc(280) remCalc(200) remCalc(80);
  background-color: $black;
  display: none;

  &__container {
    width: 100%;

    &__title {
      @include title;
    }

    &__wrapper {
      position: relative;
      margin-top: remCalc(120);
      width: 100%;

      &__list {
        position: absolute;
        display: flex;
        gap: 0 remCalc(180);
        top: 0;
        left: 0;
        padding-left: remCalc(200);

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: remCalc(36) 0;
          font-family: $jp;
          font-size: remCalc(14);
          font-weight: 300;
          line-height: 1.7;
          text-align: center;

          &__img {
            width: 100%;
            max-width: remCalc(192);
            aspect-ratio: 1/1;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

/* --------------------------------
* catalog02
* -------------------------------- */
.catalog02 {
  display: grid;
  grid-template-areas:
    "imgLeft   imgRight"
    "imgBottom imgBottom";
  gap: remCalc(100) 0;
  padding: remCalc(180) 0;
  background-color: $black;

  &__content {
    display: flex;

    &.imgLeft {
      grid-area: imgLeft;
      padding-bottom: remCalc(28);

      & .catalog02__content__img {
        max-width: remCalc(536);
        aspect-ratio: 67/84;
      }

      & .catalog02__content__name {
        transform-origin: left bottom;
        translate: 0 remCalc(-20);
        rotate: 90deg;
      }
    }

    &.imgRight {
      grid-area: imgRight;
      align-self: flex-end;

      & .catalog02__content__img {
        max-width: remCalc(208);
        max-height: remCalc(256);
        aspect-ratio: 13/16;
      }
    }

    &.imgBottom {
      grid-area: imgBottom;
      justify-self: center;
      flex-direction: row-reverse;

      & .catalog02__content__img {
        max-width: remCalc(360);
        aspect-ratio: 45/53;
      }

      & .catalog02__content__name {
        transform-origin: right bottom;
        translate: 0 remCalc(-20);
        rotate: -90deg;
      }
    }

    &__img {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      height: fit-content;
      padding-bottom: remCalc(3);
      font-family: $en;
      font-size: remCalc(13);
      font-weight: 300;
    }
  }
}

/* --------------------------------
* access
* -------------------------------- */
.access {
  display: flex;
  justify-content: space-between;
  padding: remCalc(100) responsiveClamp(80, 130, 1024, 1280) remCalc(180)
    responsiveClamp(80, 130, 1024, 1280);
  background-color: $black;

  @include mq(lg) {
    flex-direction: column;
    gap: remCalc(56) 0;
    padding: remCalc(100) 0 remCalc(180) responsiveClamp(80, 130, 1024, 1280);
  }

  &__title {
    grid-area: title;
    @include title;
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: remCalc(20) 0;

    dl {
      display: flex;
      gap: 0 remCalc(56);
      font-family: $jp;
      font-size: responsiveClamp(12, 14, 375, 768);
      font-weight: 300;

      @include mq(sm) {
        &.sm {
          display: flex;
          flex-direction: column;
          gap: remCalc(8) 0;

          dt {
            width: fit-content;
          }
        }
      }

      dt {
        font-weight: 300;
      }
    }

    &__btn {
      position: relative;
      display: flex;
      width: fit-content;
      font-family: $en;
      font-size: remCalc(32);
      font-weight: 300;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform-origin: left top;
        scale: 1 1;
        transition: scale 0.3s $ease1;
      }

      .arrow {
        margin-left: remCalc(32);
        rotate: 45deg;
      }

      &:hover {
        &::before {
          transform-origin: right top;
          scale: 0 1;
        }
      }
    }
  }
}

/* --------------------------------
* footer
* -------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: remCalc(180) 0 remCalc(32);
  color: $black;
  background-color: $white;

  &__link {
    font-family: $en;
    font-size: remCalc(112);
    font-weight: 300;
    text-align: center;
    display: none;
  }

  &__copyright {
    font-family: $jp;
    font-size: remCalc(12);
    font-weight: 300;
  }
}
