@charset "UTF-8";

//////////////////////////////
// color
//////////////////////////////
$black: #333;
$white: #fff;
$beige: #d7a600;

//////////////////////////////
// font
//////////////////////////////
$en: "Outfit", "Helvetica Neue", "Helvetica", "Hiragino Sans",
  "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$jp: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
  "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;

//////////////////////////////
// ease
//////////////////////////////
$ease1: cubic-bezier(0.33, 1, 0.68, 1);
