@charset "UTF-8";
@use "../global/" as *;

//////////////////////////////
// button
//////////////////////////////
@mixin btn {
}

//////////////////////////////
// title
//////////////////////////////
@mixin title {
  font-family: $en;
  font-size: remCalc(13);
  font-weight: 300;
  text-transform: uppercase;
}

//////////////////////////////
// text
//////////////////////////////
@mixin text {
  font-family: $jp;
  font-size: remCalc(14);
  font-weight: 300;
  line-height: 2.2;
  white-space: normal;
  text-align: justify;
}
