@charset "UTF-8";
@use "../global/" as *;

//////////////////////////////
// button
//////////////////////////////
@mixin btn {
}

//////////////////////////////
// title
//////////////////////////////
@mixin title {
  font-family: $en;
  font-size: remCalc(13);
  font-weight: 300;
}
